@import url(/greenPhone/src/css/common.css);
form {
	display: flex;
}
select::-webkit-scrollbar {
    display: none;
}
select { 
margin:0 auto;
	width:400px;
	height:300px;
	font-size: 30px;
}
.select > option { text-align: center; padding: 20px; }
.price {
	padding: 60px 0;
	text-align: center;
	font-size: 60px;
}